<div>
   
    <h1>Article List</h1>
    <h2>Subtitle Article List</h2>
    
    <label for="order">
        Order by: 
        <select name="order" id="order">
            <option value="">Select</option>
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
        </select>
    </label>

    <table>

        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td><input type="checkbox" name="article[1]"></td>
                <td>1</td>
                <td>Fifa examining claims of sexual and physical abuse on Afghanistan women’s team</td>
                <td>Josue Smers</td>
                <td>Sports</td>
                <td><a href="#">Edit</a></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="article[2]"></td>
                <td>2</td>
                <td>Boxing at 2020 Olympic Games under threat as the IOC investigates</td>
                <td>Josue Smers</td>
                <td>Sports</td>
                <td><a href="#">Edit</a></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="article[3]"></td>
                <td>3</td>
                <td>Schools climate strike: the best protest banners and posters</td>
                <td>Jenna Kristin</td>
                <td>Education</td>
                <td><a href="#">Edit</a></td>
            </tr>

            <tr>
                <td><input type="checkbox" name="article[4]"></td>
                <td>4</td>
                <th>Margaret Heffernan: 'The more academics compete, the fewer ideas they share'</th>
                <th>Jenna Kristin</th>
                <td>Education</td>
                <td><a href="#">Edit</a></td>
            </tr>

        </tbody>

    </table>
</div>