<html>
    <head>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TM6NJFQ');</script>
    <!-- End Google Tag Manager -->
    </head>
    <body>
        <h1>Welcome!</h1>

        <h2>Main Menu</h2>
        <ul>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="menu.html">Main Menu</a></li>
            <li><a href="users.html">Users</a></li>
        </ul>
        
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM6NJFQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    </body>
</html>
